@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body::-webkit-scrollbar {
  width: 0.1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body{
  background-color:#444444;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size:small;
  text-align: center;
  justify-content: center;
}

.add-expense{
  background: rgba( 0, 0, 0, 0.50 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  */
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.view-expenses{
  background: rgba( 0, 0, 0, 0.50 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); 

}