@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body::-webkit-scrollbar {
  width: 0.1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
body{
  /* background-color:#444444; */
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size:small;
  text-align: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1408.753%2c374.786C1432.801%2c374.798%2c1452.44%2c357.907%2c1464.544%2c337.127C1476.743%2c316.184%2c1482.404%2c290.379%2c1470.075%2c269.512C1457.912%2c248.926%2c1432.653%2c243.44%2c1408.753%2c242.702C1383.057%2c241.909%2c1353.572%2c243.374%2c1340.506%2c265.514C1327.314%2c287.867%2c1339.308%2c315.057%2c1353.058%2c337.072C1365.788%2c357.454%2c1384.722%2c374.774%2c1408.753%2c374.786' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M288.878%2c288.156C316.818%2c288.585%2c346.532%2c283.708%2c362.02%2c260.45C379.039%2c234.892%2c381.121%2c200.383%2c364.536%2c174.541C348.965%2c150.279%2c317.707%2c146.548%2c288.878%2c146.485C259.899%2c146.422%2c227.928%2c149.586%2c212.65%2c174.211C196.766%2c199.812%2c202.777%2c233.22%2c219.529%2c258.261C234.531%2c280.686%2c261.901%2c287.741%2c288.878%2c288.156' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1436.3777586846757 107.98767151539815L1341.1912884082553-38.89290471014835 1269.361708107969 96.19888795531989z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M675.6698729739849 13.646107229318858L639.2998624302934 125.58148992652856 751.235245127503 161.95150047022005 787.6052556711945 50.01611777301035z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M735.491%2c765.648C787.633%2c763.751%2c828.954%2c724.178%2c851.739%2c677.239C871.736%2c636.043%2c864.394%2c588.557%2c840.378%2c549.567C817.639%2c512.65%2c778.846%2c488.984%2c735.491%2c488.515C691.292%2c488.037%2c651.128%2c510.482%2c626.602%2c547.256C598.671%2c589.136%2c581.141%2c641.218%2c603.603%2c686.269C628.142%2c735.486%2c680.532%2c767.648%2c735.491%2c765.648' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1031.636%2c140.113C1064.664%2c139.383%2c1092.602%2c118.365%2c1109.232%2c89.82C1125.991%2c61.054%2c1129.725%2c26.737%2c1115.12%2c-3.18C1098.445%2c-37.338%2c1069.646%2c-69.336%2c1031.636%2c-69.133C993.856%2c-68.931%2c966.996%2c-35.877%2c949.685%2c-2.295C934.019%2c28.096%2c930.804%2c63.755%2c947.858%2c93.389C964.952%2c123.093%2c997.373%2c140.871%2c1031.636%2c140.113' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.add-expense{
  background: rgba( 0, 0, 0, 0.50 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  */
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.view-expenses{
  background: rgba( 0, 0, 0, 0.50 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); 

}